* {
    box-sizing: border-box;
}

html {
    width: 100%;
    display: flex;
    justify-content: center;
}

body {
    width: 100%;
    max-width: 700px;
    margin: 0;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: Open Sans,Trebuchet MS,arial,sans-serif;
}

body > * {
    width: 100%;
}

body > :not(:first-child) {
    margin-top: 20px;
}

input {
    overflow: hidden;
    text-overflow: ellipsis;
}

video {
    display: none;
    border: 1px solid #000000;
}

img {
    display: none;
}

#message {
    color: #ff0000;
}

#message  strong {
    color: #000000;
}

.select-wrapper {
    overflow: hidden;
}

select {
    width: 100%;
}
